<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.admin.mapper.AdminMapper">
	
	<select id="selectUsers" resultType="admin">
		select	member_id,
				password,
				name,
				email,
				phone,
				grade
		from    member		
	</select>
	
	<delete id="deleteUser" parameterType="string">
		delete from member
		where  member_id = #{memberId}
	</delete>
	
	<delete id="deleteReviewImage" parameterType="string">
		delete from review_image
		where review_id in(
			select review_id
			from review
			where member_id = #{memberId}
		)
	</delete>
	
	<delete id="deleteReview" parameterType="string">
		delete from review
		where member_id = #{memberId}
	</delete>
	
	<delete id="deleteReservation" parameterType="string">
		delete from reservation
		where member_id = #{memberId}
	</delete>
	
	<delete id="deletePointHistory" parameterType="string">
		delete from point_history
		where member_id = #{memberId}
	</delete>
	
	<delete id="deletePayment" parameterType="string">
		delete from payment
		where reserve_id in (
			select reserve_id
			from reservation
			where member_id = #{memberId}
		)
	</delete>
	
	<select id="selectBalance" resultType="admin" parameterType="int">
		select to_char(payment_date, 'YYYY/MM') as payment_month,
		       sum(payment_amount) as total_amount
		from payment
		where payment_date between to_date(concat(#{pyear}, '/01/01'), 'YYYY/MM/DD') 
		                      and to_date(concat(#{pyear}, '/12/31'), 'YYYY/MM/DD')
		group by to_char(payment_date, 'YYYY/MM')
		order by payment_month
	</select>
	
	<select id="selectBalanceYear" resultType="admin">
		select distinct to_char(payment_date, 'yyyy') as pyear 
		from payment 
		order by pyear
	</select>
	
	<select id="selectGradeCount" resultType="admin">
		select grade, count(1) as count
		from member 
		group by grade 
		order by grade
	</select>
	
	<select id="selectRoomReserveCount" resultType="admin">
		SELECT r.room_name as room_name, r.room_type as room_type, COUNT(1) AS count
		FROM reservation re
		JOIN room r ON re.room_id = r.room_id
		GROUP BY r.room_name, r.room_type
		ORDER BY r.room_type
	</select>
	
	<insert id="insertBoard" parameterType="com.yedam.admin.vo.AdBoardVO">
		insert into board(
			board_id,
			board_title,
			board_content,
			board_type
		)
		values (seq_board_id.nextval, #{boardTitle}, #{boardContent}, 'NOTICE')
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where board_id = #{boardId}
	</delete>
	
	<delete id="deleteReviewOne" parameterType="int">
		delete from review
		where review_id = #{reviewId}
	</delete>

	<delete id="deleteReviewImageOne" parameterType="int">
		delete from review_image
		where review_id = #{reviewId}
	</delete>
	
	<select id="selectReservation" resultType="int" parameterType="string">
		select count(1)
		from reservation
		where member_id = #{memberId}
	</select>
	
	<select id="selectReview" resultType="int" parameterType="string">
		select count(1)
		from review
		where member_id = #{memberId}
	</select>
  
</mapper>
