<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
  		<setting name="localCacheScope" value="STATEMENT"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.yedam.admin.vo.AdminVO" alias="admin"/>
  	</typeAliases>
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.0.51:1521/xe"/>
        <property name="username" value="kingz"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!-- mapper 추가 -->
    <mapper resource="com/yedam/mypage/mapper/MypageMapper.xml" />
    <mapper resource="com/yedam/admin/mapper/AdminMapper.xml"/>
    <mapper resource="com/yedam/member/mapper/MemberMapper.xml"/>
  </mappers>
</configuration>