<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- logger 추가 -->

  <logger name="com.yedam.review.mapper.ReviewMapper">
		<level value="debug" />
	</logger>

  <logger name="com.yedam.admin.mapper.AdminMapper">
    <level value="debug"/>
  </logger>
  
  <logger name="com.yedam.mypage.mapper.MypageMapper">
  	<level value="debug"></level>
  </logger>
  
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>
  

</configuration>
