<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mypage.mapper.MypageMapper">

	<select id="memberList"
		resultType="com.yedam.mypage.vo.MypageVO">
		select member_id,
		password,
		name,
		email,
		phone,
		grade
		from member
	</select>
	
	<select id="selectreserv"
		resultType="com.yedam.mypage.vo.ReservVO">
		select DISTINCT re.reserve_id,
						TO_CHAR(re.checkin, 'YYYY-MM-DD') as checkIn,
						re.member_id,
						TO_CHAR(re.checkOut, 'YYYY-MM-DD') as checkOut,
						(re.checkout - re.checkin) as night,
						re.headcount,
						re.breakfast,
						ro.room_type,
						ro.room_name,
						ro.room_price,
						r.image_url,
						p.payment_amount,
						p.payment_point
		from reservation re
		JOIN room ro ON re.room_id = ro.room_id
		JOIN room_image r ON ro.room_id = r.room_id
		JOIN payment p On re.reserve_id = p.reserve_id
		where re.member_id = #{memberId}
	</select>
	
	<select id="reviewList" resultType="com.yedam.mypage.vo.ReviewVO">
		WITH ranked_reviews AS (
		    SELECT TO_CHAR(r.checkin, 'YYYY-MM-DD') as checkIn, TO_CHAR(r.checkOut, 'YYYY-MM-DD') as checkOut, r.breakfast, r.headcount,
		           re.review_content, re.rating, re.review_id, re.review_date,
		           ro.room_type, ro.room_name,
		           ri.image_url,
		           ROW_NUMBER() OVER (PARTITION BY re.review_id ORDER BY re.review_id) AS rn
		    FROM reservation r
		    LEFT JOIN room ro ON r.room_id = ro.room_id
		    LEFT JOIN review re ON ro.room_id = re.room_id
		    LEFT JOIN review_image ri ON re.review_id = ri.review_id
		    WHERE r.member_id = #{memberId }
		    AND ro.room_id = re.room_id
		    AND r.member_id = re.member_id
		)
		SELECT checkin, checkout, breakfast, headcount,
		       review_content, rating, review_id, review_date,
		       room_type, room_name, image_url
		FROM ranked_reviews
		WHERE rn = 1
	</select>
	
	<update id="modifymypage" parameterType="com.yedam.mypage.vo.MypageVO">
		update member
		set password = #{password},
		    email = #{email},
		    phone = #{phone} 
		where member_id = #{memberId}
	</update>
	
	<select id="myPoint" resultType="int" parameterType="string">
		select COALESCE(SUM(point_use), 0)
        from point_history
        where member_id = #{memberId}
	</select>
	
	<delete id="reserveDelete" parameterType="int">
		DELETE payment 
		where reserve_id = ${reserveId }
	</delete>
	<delete id="reserveDeleteP" parameterType="int">
		DELETE reservation 
		where reserve_id = ${reserveId }
	</delete>
	<update id="reserveUpdate" parameterType="int">
		update point_history
		set point_use = 0
		where payment_id IN (
			select COALESCE(payment_id, 0)
			from payment
			where reserve_id = #{reserveId }
		)
	</update>
	
	
</mapper>