<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mypage.mapper.MypageMapper">

	<select id="memberList"
		resultType="com.yedam.mypage.vo.MypageVO">
		select member_id,
		password,
		name,
		email,
		phone,
		grade
		from member
	</select>
	<select id="selectreserv"
		resultType="com.yedam.mypage.vo.ReservVO">
		select DISTINCT re.reserve_id,
						TO_CHAR(re.checkin, 'YYYY-MM-DD') as checkIn,
						re.member_id,
						TO_CHAR(re.checkOut, 'YYYY-MM-DD') as checkOut,
						(re.checkout - re.checkin) as night,
						re.headcount,
						re.breakfast,
						ro.room_type,
						ro.room_name,
						ro.room_price,
						r.image_url,
						p.payment_amount,
						p.payment_point
		from reservation re
		JOIN room ro ON re.room_id = ro.room_id
		JOIN room_image r ON ro.room_id = r.room_id
		JOIN payment p On re.reserve_id = p.reserve_id
		where re.member_id = #{memberId}
	</select>
	
	<select id="reviewList" resultType="com.yedam.mypage.vo.ReviewVO">
		SELECT re.review_content, re.rating, re.review_date,
		COALESCE(ri.image_url, '') AS image_url
		FROM review re
		LEFT JOIN review_image ri ON re.review_id = ri.review_id
		WHERE re.member_id = #{memberId}
	</select>
	
	<update id="modifymypage" parameterType="com.yedam.mypage.vo.MypageVO">
		update member
		set password = #{password},
		    email = #{email},
		    phone = #{phone} 
		where member_id = #{memberId}
	</update>
	
	<select id="myPoint" resultType="int" parameterType="string">
		select SUM(point_use)
        from point_history
        where member_id = #{memberId}
	</select>
	
</mapper>