<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.review.mapper.ReviewMapper">

	<select id="reviewList" parameterType="int">
		select 	r.*, ri.*
		from 	member m, room ro, review r left outer join review_image ri
		on 		r.review_id = ri.review_id
		where 	r.member_id = m.member_id
		and 	ro.room_id = r.room_id
		and 	r.room_id = #{roomId}
	</select>
	
	<select id="selectReviewId" resultType="int">
		select 	seq_review_id.nextval
		from	dual
	</select>
	
	<insert id="insertReview" parameterType="com.yedam.review.ReviewVO">
		insert into 	review
						(review_id, member_id, room_id, review_content, rating, review_date)
		values 			(#{reviewId}, #{memberId}, #{roomId}, #{reviewContent}, #{rating}, sysdate)
	</insert>
	
	<insert id="insertImage" parameterType="com.yedam.review.ImageVO">
		insert into	review_image
					(reviewimage_id, review_id, image_url)
		values		(seq_reviewimage_id.nextval, #{reviewId}, #{imageUrl})
	</insert>

	<select id="reviewCheck" resultType="int">
		select 	count(*)
		from	reservation
		where	room_id = #{roomId} and member_id = #{memberId}
		<![CDATA[
		and checkout > sysdate
		]]>
	</select>
	
	<select id="countReserve" resultType="int">
		select  count(*)
		from    reservation
		where   member_id = #{memberId} and room_id = #{roomId}
	</select>
	
	<select id="countReview" resultType="int">
		select  count(*)
		from    review
		where   member_id = #{memberId} and room_id = #{roomId}
	</select>

</mapper>