<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.reservation.mapper.ReservMapper">

	<select id="reservList" resultType="com.yedam.reservation.vo.ReservVO">
		select *
		from reservation
	</select>
	
	<update id="updateReserv" parameterType="com.yedam.reservation.vo.ReservVO">
		INSERT INTO	reservation (	reserve_id,
									member_id,
									room_id, 
									checkin, 
									checkout, 
									headcount, 
									breakfast, 
									request)
		VALUES (	SEQ_RESERVE_ID.NEXTVAL, 
					#{memberId}, 
					#{roomId}, 
					#{checkin}, 
					#{checkout}, 
					#{headcount}, 
					#{bearkfast}, 
					#{request})
	</update>

</mapper>