<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.reservation.mapper.ReservMapper">

	<select id="reservList" resultType="com.yedam.reservation.vo.ReservVO">
		select *
		from reservation
	</select>
	
	<update id="updateReserv" parameterType="com.yedam.reservation.vo.ReservVO">
		INSERT INTO	reservation (	reserve_id,
									member_id,
									room_id, 
									checkin, 
									checkout, 
									headcount, 
									breakfast, 
									request)
		VALUES (	SEQ_RESERVE_ID.NEXTVAL, 
					#{memberId}, 
					#{roomId}, 
					#{checkin}, 
					#{checkout}, 
					#{headcount}, 
					#{bearkfast}, 
					#{request})
	</update>
	
	<update id="updateReservAndPayment" parameterType="com.yedam.reservation.vo.ReservVO">
		INSERT ALL
		    INTO     reservation (reserve_id
		    					, member_id
		    					, room_id
		    					, checkin
		    					, checkout
		    					, headcount
		    					, breakfast
		    					, request)
		    VALUES (	SEQ_RESERVE_ID.NEXTVAL
		    			, #{memberId}
		    			, #{roomId}
		    			, #{checkin}
		    			, #{checkout}
		    			, #{headcount}
		    			, #{bearkfast}
		    			, #{request})
		
		    INTO payment (payment_id
	    				, reserve_id
	    				, payment_amount
	    				, payment_method
	    				, payment_date
	    				, payment_point)
		    VALUES (  SEQ_PAYMENT_ID.NEXTVAL
		    		, SEQ_RESERVE_ID.CURRVAL
		    		, #{paymentAmount}
		    		, #{paymentMethod}
		    		, SYSDATE
		    		, #{paymentPoint})
		SELECT * FROM dual 
	</update>
	
	<insert id="insertPaymemtInfo" parameterType="com.yedam.payment.vo.PaymentVO">
		<selectKey order="BEFORE" keyProperty="paymentId" resultType="int">
			select SEQ_RESERVE_ID.currval from dual
		</selectKey>
		INSERT INTO payment (payment_id
	    					, reserve_id
	    					, payment_amount
	    					, payment_method
	    					, payment_date
	    					, payment_point)
		    VALUES (  SEQ_PAYMENT_ID.NEXTVAL
		    		, #{paymentId}
		    		, #{paymentAmount}
		    		, #{paymentMethod}
		    		, SYSDATE
		    		, #{paymentPoint})
	</insert>
	
	<select id="selectRecentReservId" resultType="int">
	SELECT 	MAX(reserve_id) 
	FROM 	reservation
	</select>

</mapper>